
body{
    background-color: #fff;
}

.my_name{
    text-align: center;
}

.my_image{
    text-align: center;
}

#my_image{
    width: 200px;
}

.city_header{
    padding: 0.5em;
    margin: 0.5em;
}

.city_image{
    text-align: center;
}

.city_text{
    /* border: #011627 1px solid ; */
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
}

.forlang_header{
    padding: 0.5em;
    margin: 0.5em;
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

th, td{
    border: 1px solid black;
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
}

.place_1{
    display: flex;
}

/* .place_1_img{
    float: right;
} */

.place_2{
    display: flex;
}

/* .place_2_image{
    align-content: inherit;
}  */

.place_3{
    display: flex;
} 
