
body{
    background-color: #fff;
}

.my_name{
    text-align: center;
}

.my_image{
    text-align: center;
}

#my_image{
    width: 200px;
}

.city_header{
    margin: 0.5em;
}

.city_image{
    text-align: center;
}

.city_text{
    /* border: #011627 1px solid ; */
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
}

.forlang_header{
    margin: 0.5em;
}

.forlang_text {
    text-align: left;
    margin: 0.5em;
}

.the_table {
    padding: 0.5em;
    margin: 0.5em;
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    
}

th, td{
    border: 1px solid black;
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
}

.history_place {
    text-align: left;
    margin: 0.5em;
}

.box {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.text_n_img {
    display: flex;
}

img{
    width: 150px;
    height: auto;
}

.place_2_text {
    padding-left: 1em; 
}

.place_3_text {
    padding-right: 1em;
}

@media (min-width: 700px){
    .intro {
        text-align: center;
        display: flex;
    }

    .my_name {
        flex: 0.5;
        /* border: 2px solid yellow; */
    }

    .my_name:first-child {
        margin-right: 20px;
    }

    .city{
        display: flex;
    }
    .places{
        display: flex;  
    }
}
